@page "/newUser"
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Create User</h2>
                    <!-- Your form for creating a new user goes here -->
                    <form>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Create User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
